<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1">
    <listeners>
        <listener class-name="com.reporter.CustomTestNGReporter" />
        <listener class-name="com.reporter.CustomHTMLReporter"/>
    </listeners>
    <test name="Google" >
        <classes>
            <class name="com.page.google.GooglePageTest" />
            <class name="com.page.mail.HomeMailPageTest"/>
            <class name="com.page.mail.HomePageNegativeTest"/>
        </classes>
    </test>
</suite>
